<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="G:\NuGetPackages" />
    <add key="httpCachePath" value="G:\NuGetCache\v3-cache" />
    <add key="tempPath" value="G:\NuGetCache\temp" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
